# Игнорируем ключи Firebase 
my-eco-system-22c68-firebase-adminsdk-fbsvc-2879a9dfbe.json
!package.json  

# Игнорируем виртуальное окружение
venv/
env/
.venv/
env/

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы настроек с паролями 
config.py
.env
*.env

# Игнорируем файлы IDE
.vscode/
.idea/
*.iml
.DS_Store 