# Игнорируем ключи Firebase 
config_data.py
test_firebase.py 
!package.json  

# Игнорируем виртуальное окружение
venv/
env/
.venv/
env/

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы настроек с паролями 
.env
*.env

# Игнорируем файлы IDE
.vscode/
.idea/
*.iml
.DS_Store 